codecov==2.0.15
coverage==4.5.1
coveralls==1.5.1
lxml==4.2.5
psutil==5.4.8
psycopg2-binary==2.7.5
pycodestyle==2.4.0
pytest==3.10.0
pytest-cov==2.6.0
pytest-docker==0.6.1
pytest-flake8==1.0.2
python-qpid-proton==0.26.0
